
<% @articles.each do |article| %>
  <h3><%= article.title %></h3>
  <p><%= article.text %></p>
  <p><i>Author: <%= article.articlename%> at created: <%= article.created_at%></i></p>
  <p><%= link_to 'Show',article_path(article) %></p>
  <hr/>
<% end %>
<br />
<% if user_signed_in? == false  %>
  <p>
      Please <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Registered", new_user_registration_path %> to leave Articles new
  </p>
<% else %>
  <%= link_to "Articles new", new_article_path %>
<% end %>
